@charset "UTF-8";

@font-face {
    src: url('../Graphik_Collection/Graphik Family/Graphik-Regular-Trial.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-family: "Graphik";
}
    @font-face {
        src: url('../Graphik_Collection/Graphik Family/Graphik-Semibold-Trial.otf') format("opentype");
        font-weight: bold;
        font-style: normal;
        font-family: "Graphik";
    }

    @font-face {
        src: url('../Graphik_Collection/Graphik Family/Graphik-Bold-Trial.otf') format("opentype");
        font-weight: bolder;
        font-style: normal;
        font-family: "Graphik";
    }

    @font-face {
        src: url('../Graphik_Collection/Graphik Family/Graphik-Light-Trial.otf') format("opentype");
        font-weight: lighter;
        font-style: normal;
        font-family: "Graphik";
    }

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Graphik';
}

.fadeblack{
    z-index: 2;
    background-color: #00000038;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page {
    background: url(../images/original.jpg) no-repeat;
    background-size: cover;
    background-color: #1CE783;
    width: 100%;
    font-family: "Graphik";
}

.landing-page header {
    z-index: 1;
    background: linear-gradient(to bottom, #000000, #00000000);
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4em;
}
    .landing-page header img {
        width: 18%;
    }

    .landing-page header button {
        background-color: #323843;
        border: none;
        height: 60%;
        width: 14%;
        border-radius: .6em;
    }
        .landing-page header button img {
            width: 35%;
            filter: invert(1);
            height: 35%;
        }

div.bundle-trio {
    z-index: 1;
    text-align: center;
    padding: 1em 2.5em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
    div.bundle-trio>aside,div.bundle-duo>aside,aside.highlight {
        color: #1CE783;
        font-weight: bold;
        font-size: .8em;
        margin: 1em 0 1em 0;
    }

    div.bundle-trio>img {
        width: 90%;
        margin: 1em 0 .2em 0;
    }

    div.bundle-trio>h1{
        font-size: 1.1em;
        margin-bottom: 1.3em;
    }
    #main-button {
        background-color: #1CE783;
        width: 100%;
        height: 3.4em;
        border: none;
        border-radius: .2em;
        transition: ease .3s;
    }
        #main-button>a{
            color: black;
            text-decoration: none;
            font-weight: bolder;
        }

        #main-button:active {
            background: #1ce7817e;
            transition: ease .3s;
        }

    div.bundle-trio>a,div.bundle-trio>aside>a {
        font-weight: normal;
        font-size: 1.3em;
    }  
        div.bundle-trio>aside{
            margin: 1em 0 1em 0;
        }

        div.bundle-trio>a{
            font-size: 1em;
            padding: 1em 0 0 0;
        }
    
div.bundle-duo {
    background-color: #000000b0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}
    div.bundle-duo>aside {
        margin: 1em 0 1em 0;
    }
    div.bundle-duo>img {
        width: 10em;
        align-self: center;
    }
    
    div.bundle-duo>p {
        font-weight: normal;
        font-size: .9em;
        margin: .5em 0 .5em 0;
    }
    div.bundle-duo>button{
        background-color: transparent;
        border: 2px solid white;
        border-radius: .2em;
        padding: 1em;
        width: 50%;
        display: block;
        margin: 1em auto 0 auto;
        transition: ease .3s;
    }
        div.bundle-duo>button>a{
            text-decoration: none;
            font-weight: bolder;
        }

        div.bundle-duo>button:active,div.bundle-duo>button:active>a{
            background-color: white;
            color: black;
            transition: ease .3s;
        }

    div.bundle-duo>a{
        font-size: .7em;
        color: grey;
        width: 20%;
        align-self: center;
    }

div.libraries {
    background-color: #0b0c0f;
    padding: 1.8em 1em 3.5em 1em;
    text-align: center;
}
    aside.highlight{
        font-size: 1em;
        font-weight: normal;
    }
    div.libraries>h2{
        font-weight: normal;
        margin-bottom: .3em;
    }
    div.libraries>p{
        font-size: .95em;
        padding: 0 1.2em ;
        margin: 0 0 2em 0;
    }

    div.boxes {
        display: grid;
        grid-template-rows: 32vh 32vh 5vh;
        grid-template-columns:  42vw 42vw;
        grid-template-areas: 
        "l1 l2"
        "l3 l4"
        "aside aside";
        gap: 1em;
        justify-content: center;
        margin-bottom: 10em;
    }
        div.library {
            background-color: #1CE783;
            width: 100%;
            height: 100%;
            text-align: start;
        }
            div.library>div>p{
                padding: .2em 0 .2em .8em;
                font-size: 1.2em;
            }
                div.library#l3>p {
                    padding:.2em 1em .2em .8em;;
                }
            div.library>div>aside {
                padding: 1em 0 .2em .8em;
            }

            div.library>div{
                background: linear-gradient(#000000,#00000000);
                height: 60%;
            }

            div.boxes>aside {
                font-size: .5em;
                justify-self: end;
                color: grey;
                font-weight: bold;
            }

            div.l1{
                background: url(../images/bb.png);
                background-size: cover;
            }
            div.l2{
                background: url(../images/prey.png);
                background-size: cover;
            }
            div.l3{
                background: url(../images/tht.png);
                background-size: cover;
            }
            div.l4{
                background: url(../images/hotd.png);
                background-size: cover;
            }   

        div.libraries>aside.h2{
            font-weight: bold;
            font-size: .75em;
        }
        
        div.libraries>h2.h2{
            font-weight: bolder;
            font-size: 2.1em;
        }
        div.libraries>aside.aside3{
            color: gray;
            font-weight: bold;
            font-size: .65em;
            margin-bottom: 2em;
        }
        div.libraries>a{
            font-weight: bold;
            color: rgb(167, 167, 167);
            font-size: .85em;
            margin-bottom: 3em;
            display: block;
        }
        div.libraries>img{
            display: block;
            margin: auto;
            width: 20px;
        }

div.slides {
    background-color: #00000056;
    height: 45.56em;
}
    div.slides>img {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    div.slides header {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 2em 1em 5em;
        background: linear-gradient(to bottom, #000000, #00000000);
    }
        div.slides header button {
            font-weight: bold;
            font-size: .75em;
        }
            #breaking-news{color: #ffffff80;}
            #biggest-events{color: #ffffff80;}

        div.slides #line{
            position: absolute;
            background-color: white;
            width: 30%;
            height: 0.4em;
            margin: -4em 0;
        }
    div.slides header button {
        background: none;
        border: none;
    }
    div.slides section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 1.5em;
    }
        div.slides section h2 {
            font-size: 1.1em;
        }
        div.slides section p {
            font-size: 1em;
            margin-bottom: 1.6em;
        }
        div.slides section div.imgs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 85%;
        }
        div.slides section div.imgs .image-crop{
            width: 2.9em;
            height: 2.9em;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            background-size: contain;
            background-position: 10%;
        }
            .lo1{
                background: url(../images/logos/live-sports/CBS.png) no-repeat;
                
            }
            .lo2{
                background: url(../images/logos/live-sports/ESPN.png) no-repeat;
            }
            .lo3{
                background: url(../images/logos/live-sports/Fox.svg) no-repeat;
            }
            .lo4{
                background: url(../images/logos/live-sports/NFL.png) no-repeat;
            }
        div.slides section aside{
            margin: 3em 2em 0;
            font-size: .65em;
        }
        div.slides section aside p{
            display: inline;
            color: #ffffff80;
        }
        div.slides section aside a{
            display: inline;
            color: #ffffff80;
        }